@model HTLLBB.Models.ForumViewModels.IndexViewModel

<div class="w3-grey w3-bar w3-xxlarge">
    <a class="w3-bar-item" asp-controller="Category">Forums</a>
    <span class="w3-bar-item">/</span>
    <a class="w3-bar-item" asp-route-name="@Model.Forum.Name">@Model.Forum.Name</a>
    <a class="w3-dark-grey w3-right w3-bar-item w3-button" asp-controller="Thread" asp-action="Create" asp-route-id="@Model.Forum.ID">
        <span class="w3-small" style="vertical-align: middle;">Create Thread</span>
    </a>
</div>

<hr />

@foreach (var thread in Model.Forum.Threads) {
    <div class="w3-border w3-margin w3-grey">
        <div class="w3-blue-grey w3-bar">
            <div class="w3-bar-item w3-xlarge">
                <i class="glyphicon glyphicon-comment" style="vertical-align: middle;"></i>
            </div>
            <div class="w3-bar-item">
                <a style="font-weight: bold;" asp-controller="Thread" asp-route-title="@thread.Title">@thread.Title</a><br />
                <span class="w3-tiny" style="font-style: italic;">By @thread.Posts.First().Author, </span>
                <span class="w3-tiny" style="font-style: italic; font-weight: bold;">@thread.Posts.First().CreationTime</span>
            </div>
            @if (Model.IsAdmin) {
                <div class="w3-right w3-bar-item ">
                    <a class="w3-button w3-dark-grey w3-bar-item" asp-controller="Thread" asp-action="Edit" asp-route-id="@thread.ID">
                        <span class="w3-small"><i class="glyphicon glyphicon-edit w3-text-yellow"></i></span>
                    </a>
                    <a class="w3-button w3-dark-grey w3-bar-item" asp-controller="Thread" asp-action="Delete" asp-route-id="@thread.ID">
                        <span class="w3-small"><i class="glyphicon glyphicon-remove-sign w3-text-red"></i></span>
                    </a>
                </div>
            }
        </div>
    </div>
}