@model HTLLBB.Models.Thread

<div class="w3-grey w3-bar w3-xxlarge">
    <a class="w3-bar-item" asp-controller="Category">Forums</a>
    <span class="w3-bar-item">/</span>
    <a class="w3-bar-item" asp-controller="Forum" asp-route-name="@Model.Forum.Name">@Model.Forum.Name</a>
    <span class="w3-bar-item">/</span>
    <a class="w3-bar-item" asp-route-title="@Model.Title">@Model.Title</a>
</div>

<hr />

@foreach (var post in Model.Posts) {
    <div class="w3-row-padding w3-border w3-dark-grey" style="padding: 1em 1em .5em .5em; margin: 1em 0em;">
        <div class="w3-center w3-col" style="width: 6em; ">
            <img src="~/images/no_avatar.jpg" class="w3-image w3-border" style="width: 5em;">
            <p class="w3-small">@post.Author.UserName</p>
        </div>
        <div class="w3-rest w3-justify">
            <pre>@post.Content</pre>
        </div>
        <p class="w3-right w3-tiny">
            <a class="w3-button w3-dark-grey w3-bar-item" asp-controller="Post" asp-action="Edit" asp-route-id="@post.ID">Edit</a>
            <a class="w3-button w3-dark-grey w3-bar-item" asp-controller="Post" asp-action="Delete" asp-route-id="@post.ID">Delete</a>
        </p>
    </div>
}

<hr />

<form asp-action="Create" asp-controller="Post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" name="ThreadID" value="@Model.ID">

        <label for="Content" class="control-label"></label>
        <textarea name="Content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Reply" class="btn btn-default" />
    </div>
</form>